@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-image: url("../images/bg.jpg");
    background-size: cover;
    background-repeat:  no-repeat;
    background-attachment: fixed;
}

#backdrop-blur{
    backdrop-filter: blur(10px);
}

#backdrop-white{
    background-color:  rgba(255, 255, 255, 0.287);
}

input {
    outline: 0;
    transition: all 0.3s ease; /* Geçiş süresi 0.3 saniye */
    border: 1px solid rgba(140, 111, 149, 0.5); /* Varsayılan kenar rengi */
    border-radius: 4px; /* Kenar yuvarlama */
    padding: 10px; /* İçerik için boşluk */
    box-shadow: 0 0 5px rgba(140, 111, 149, 0.5); /* Varsayılan gölge */
}

input:focus {
    outline: none; /* Odaklandığında outline'ı kaldır */
    border: 2px solid rgba(140, 111, 149, 0.706); /* Odaklandığında kenar rengi değişimi */
    transform: scale(1.02); /* Odaklandığında hafif büyütme */
    box-shadow: 0 0 10px rgba(140, 111, 149, 0.706); /* Odaklandığında gölgeyi artır */
}